{% extends 'base.html.twig' %}

{% block title %}Tic-Tac-Toe{% endblock %}

{% block body %}
    <section>
        <h1 class="head-title">Tic-Tac-Toe</h1>
    </section>

    <section id="game-section">
        <div class="block">
            <div class="ttt-strategy-box">
                <label for="ttt-strategy-dropdown">Strategy:</label>
                <select id="ttt-strategy-dropdown" {{ strategies|length <= 1 ? 'disabled' }}>
                    {% for value, name in strategies %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="relative">
                <table class="ttt-board" id="ttt-board">
                    <tbody>
                    {% for row in 0..2 %}
                        <tr>
                            {% for column in 0..2 %}
                                <td
                                    id="ttt-cell-{{ row }}-{{ column }}"
                                    data-ttt-cell
                                    data-row="{{ row }}"
                                    data-column="{{ column }}"
                                ></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div id="loading-cover" class="loading-cover">
                    <div>
                        <img
                            id="loading-image"
                            src="{{ asset('build/images/double-ring.gif') }}"
                            alt="Loading..."
                            style="display: none;"
                        />
                        <div id="board-message" class="message" style="display: none;"></div>
                        <button id="start-new-game" class="button" style="display: none;">Start new game</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block statistics">
            <h3>Statistics</h3>
            <table>
                <tbody>
                    <tr>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>Draw</th>
                    </tr>
                    <tr>
                        <td id="statistics-total">{{ statistics.total }}</td>
                        <td id="statistics-won">{{ statistics.won }}</td>
                        <td id="statistics-lost">{{ statistics.lost }}</td>
                        <td id="statistics-draw">{{ statistics.draw }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
